.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.d-block {
  width: 2000px;
  height: 600px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-sign{
   display: flex;
  justify-content: space-around

}
.form-inline{
  margin-right:50px;
}
.btn{
  margin-right: 20px;
}
.navbar{
  position: fixed;
  height: 60px;
	width: 100%;
  z-index:5255555551;
  top:0;
  
}
.sliders{
  margin-top:60px;
}
.social{
  background-color: #01202F;
  margin-top:80px;
}
hr{
	background-color: #50545c;
    margin: 30px 60px 0px;
    height: 2px;
    border: 0;
}
.contact-us{
  margin-top:200px;
  


}
.copyright{
	margin: 30px;
	color: white;
	font-size: 25px;
	font-weight: 300;
	letter-spacing:2px;
	font-family: 'Lobster', cursive;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.soc  ul li
{
	float: left;
}
.soc ul li a{
	display: block;
	color: #aaa;
	margin: 0 10px;
	font-size: 20px;
	transition: 0.5s;
	text-align: center;
 }
.soc ul li:hover a{
	color: #F33D3D;
	transform: rotateY(360deg);
}
.lien {
  list-style-type: none;
  margin-top: 40px;
   
}
.lien a {
  color: white;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 3px;
}
.titre-txt {
  color: #878787;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top:20px;
}
.titre-adr {
  color: white;
  font-size: 30px;
}
.soc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.soc ul li {
  float: left;
}
.myrow{
  padding: 30px;
  margin: 60px 0px;
  background:linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  background-attachment: fixed;

}
.ads{
  border:2px solid;
  height: 300px;
}

.timeline{
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 100%;
  box-sizing: border-box;
  background: url(https://wallpapercave.com/wp/UhRqKPh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;



}
.timeline::before
{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}
.timeline ul
{
  margin:0;
  padding:0;
}
.timeline ul li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd)
{
  float: left;
  text-align: right;
  clear:both;
}
.timeline ul li:nth-child(even)
{
  float: right;
  text-align: left;
  clear:both;
}
.content{
  padding-bottom: 20px;
}
.timeline ul li:nth-child(odd)::before
{
  content: '';
  position: absolute;
  top: 24px;
  right:-6px;
  width: 10px;
  height: 10px;
  background: rgba(233,33,99,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even)::before
{
  content: '';
  position: absolute;
  top: 24px;
  left:-4px;
  width: 10px;
  height: 10px;
  background: rgba(233,33,99,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgba(233,33,99,1)
}
.timeline ul li p 
{
  margin:10px 0 0;
  padding: 0;
}
.timeline ul li .time{
  margin:0;
  padding: 0;
  font-size: 14px;
}
.timeline ul li:nth-child(odd) .time
{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233,33,99,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time
{
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233,33,99,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}
.fashion-his{
   margin-bottom: 50px;
   color: white
}
.citation{
  background: url(https://quotefancy.com/media/wallpaper/3840x2160/4730802-Coco-Chanel-Quote-Everyday-is-a-fashion-show-and-the-world-is-the.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 600px;
  background-attachment: fixed;
}
@media screen and (max-width:800px){
  .citation{
    background-size:contain;
  }
}
.info{
  color: white;
}
.articles-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }


.article-name{
   width: 300px;
  font-size: 20px;
   color: black;
   margin:10px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.article-img{
  height: 200px;
  width: 300px;
}
 .mafttext{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top:20px;
    background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/90/79/7757de315673000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .mafttext-intro{
    font-size: 50px;
    font-weight: 600
  }
   #navbarDropdown{
     color:black;
   }
 
 .maft-info{
    margin:90px;
 }
 .concept-title:hover{
	border-top: 1px solid #3F3C40;
  border-bottom: 1px solid #3F3C40;

  
}
.concept-title{
	background: url('https://imgur.com/OmTjsAW.jpg');
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	animation: animate 10s linear infinite;
	font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  width: 200px;
  margin: auto;
}
@keyframes animate
{
	0%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 100% 100%;
	}
}
.maft-concept{
  margin-top: 30px;
}
.card-img{
   width: 400px;
  height: 500px;
}
.cards{
  margin-top:100px;
   display: flex;
  justify-content: space-around;
}
.card-txt{
  font-size: 30px;
}
  .admin-container{
    border : 1px solid black;
    width:300px;
    height: 300px;
    display: flex;
    justify-content: center;
  }
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 10%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #000;
}

/* .active {
  background-color: #4CAF50;
} */
.sousnavbar{
    margin-top:2%;
    background-color: black;
    text-align: left;
    height: 50%;
    width: 200px;
  }
/* The side navigation menu */
.sidebar {
  margin-top: 5%;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}